<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166357039852-1vskj3rrfak4o3qvrqp75vkt6v4ev8mg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166357039852-1vskj3rrfak4o3qvrqp75vkt6v4ev8mg</string>
	<key>API_KEY</key>
	<string>AIzaSyDErHFlreirRIPUIq_0z5q0z0O2IaROKsE</string>
	<key>GCM_SENDER_ID</key>
	<string>166357039852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dracula</string>
	<key>PROJECT_ID</key>
	<string>smart-home-security-syst-48432</string>
	<key>STORAGE_BUCKET</key>
	<string>smart-home-security-syst-48432.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166357039852:ios:f62264e602c7ff743fc3c9</string>
</dict>
</plist>